/Cards
/CardsAlpha
/Backgrounds
/BackgroundsResized
/Results
/datasets
/card_model/test_metrics
/card_model/test_predictions
/card_model/validation_metrics
/card_model_back/test_metrics
/card_model_back/test_predictions
/card_model_back/validation_metrics